@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-content{
    animation: moveIn 1s ease-in-out;
}

.animate-pic{
    animation: zoom-in-zoom-out 2s ease-in-out;
}
.animate-text{
    animation: slideInLeft 5s ease-in-out;
}
.animate-head{
    transition: transform 0.5s ease;
}

@keyframes moveIn {
    from {
      transform: translateY(-20px);
    }
    to {
      transform: translateY(0);
    }
  }
  @keyframes slideInLeft {
    from {
      transform: translateX(-20px);
    }
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
    }
    
   
  }