@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+NO:wght@100..400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



.scale:hover{
    animation: zoom-out 3s ease forwards;
    transition: transform 3s ease-in-out color 3s ease-in-out, background-color 3s ease-in-out;;
}

@keyframes zoom-out {
    from {
        transform: scale(1); /* Start at normal size */
    }
    to {
        transform: scale(1.08); /* Scale down to 50% size */
    }
}